.tabs-1 {
    font-weight: 700;
    font-size: 26px;
    color: #000000;
  }
  
  .tabs-2 {
    font-weight: 700;
    font-size: 26px;
    color: #000000;
  }
  .tabs-3 {
    font-weight: 700;
    font-size: 26px;
    color: #000000;
  }