.ui-widget-content{
  width: 400px;
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.caud{
  background-color: rgba(0, 0, 0, 0.068);
  width: 200px;
}

.resizable{
  background-color: rgba(0, 0, 0, 0.068);
  width: 500px;
  padding: 10px;
}